.attendance-chart{
    background: #F1F4F9;
    width: 100%;
    height: 588px;
    text-transform: uppercase;
    .std-info{
        background-color: white;
        width: 90%;
        height: 183px;
        margin: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .info-title{
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
        }
        .info-desc{
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .std-report{
        background-color: white;
        width: 90%;
height: 183px;
margin: 20px;
    }
}